/* Updated 2022-02-28 */

.dashboard {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 20px !important;
}

.dashboard
  .markdown-preview-section
  .internal-embed
  .markdown-embed
  .markdown-embed-title {
  display: none;
}

.dashboard .markdown-preview-section {
  max-width: 100%;
}

/* Title at top of the document */
.dashboard .markdown-preview-section .title {
  display: none !important;
}

.dashboard h1 {
  border-bottom-style: dotted !important;
  border-width: 1px !important;
  padding-bottom: 3px !important;
}

.dashboard div > ul {
  list-style: none;
  display: inline-block;
}

.dashboard div > ul > li {
  min-width: 250px;
}

.obsidian-banner-wrapper .frontmatter {
  display: none;
}
