.cm-hashtag.cm-tag-urgent {
  color: white !important;
  background-color: #f54307 !important;
}

.tag[href="#urgent"] {
  color: white !important;
  background-color: #f54307 !important;
}

.due-date.overdue {
  color: white !important;
  background-color: #f54307 !important;
}

.cm-hashtag.cm-tag-important {
  color: white !important;
  background-color: rgb(200, 150, 0) !important;
}

.tag[href="#important"] {
  color: white !important;
  background-color: rgb(200, 150, 0) !important;
}

div.todo-item-view-item span.due-date {
  background-color: inherit;
}

div.todo-item-view-items {
  padding: 0 10px;
}
